<div class="row align-center">
  <div class="col-md-12">
    <h1 class="left-nav">My Blogs</h1> 
    <button class="btn btn-primary right-nav" id="add-blog-btn">
      Add Blog Post
    </button>
  </div>
</div>
<div class="card">

{{#each blogs as |blog index|}}
  <div class="row align-center mb-10" style="background-color: {{{bgColor index}}};">
    <div class="col-md-12">
      <h4>{{blog.title}}
      <button class="btn btn-primary edit-blog-btn" data-blog-id="{{blog.id}}" style="float: right;">
        Edit Blog Post
      </button></h4>
      <p>created at {{{formatDate blog.created_at}}}</p>
    </div>
  </div>
{{/each}}
</div>

<script>
var editBlogBtns = document.querySelectorAll(".edit-blog-btn");
editBlogBtns.forEach(function(btn) {
  btn.addEventListener("click", function() {
    var blogId = btn.dataset.blogId;
    console.log(blogId);
    //document.location.replace(`/editBlog?blogId=${blogId}`);
    document.location.replace(`/editBlog/${blogId}`);
  });
});
</script>



<script src="/js/dashboard.js"></script>
